<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DevOps WebApp</title>
</head>
<body>
    <h1>DevOps WebApp</h1>
    <p>Changes were detected and Deployed by Ansible Core through Jenkins CI/CD.</p>
    <p>Host: {{ inventory_hostname }}</p>
</body>
</html>
